[Desktop Entry]
Version=1.0
Type=Application
Name=@@TITLE@@
Icon=@@NAME@@
Exec=AppRun %f
Comment=Capable and Ergonomic IDE for JVM
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea-ce
StartupNotify=true
